/* CSS RESET */
* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {text-decoration: none;}
li {list-style: none;}
/* CSS RESET 끝 */

a {
    color: black;
}

body {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

/*====== 헤더 시작 ======*/

.hamburger {
    float: left;
    margin: 16px 0 0 32px;
}

.logo {
    float: left; 
    margin: 32px 0 0 42px;
}

.nav--main {
    display: inline-block;
    margin-right: 68px;
}

.nav__list {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin: 31px 17px 0 17px;
}

.nav__list a:hover {
    color: #00b0ff;
}

.nav{
    float: right;
}

.nav--sub{
    float: right;
    margin: 16px 32px 0 0;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

/*====== 배너 영역 ======*/
.banner {
    position: relative;
}

.banner__link {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    width: 100%;
    display: block;
}

.banner__dots {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 32px;
}

.banner__dot {
    width: 12px;
    height: 12px;
    background-color: #9e9e9e;
    display: inline-block;
    border-radius: 50%;
    margin: 0 12px;
    cursor: pointer;
}

.banner__dot.active {
    background-color: #000;
}

/*====== 섹션1 ALL PRODUCT ======*/

.ALLPRODUCT {
    width: 1170px;
    margin: 80px auto 140px auto;
}

.ALLPRODUCT--title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.ALLPRODUCT--title__extralight {
    display: inline-block;
    font-weight: 200;
}

.ALLPRODUCT--category__title {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 24px;
}

.ALLPRODUCT--category {
    float: left;
    width: 270px;
}

.ALLPRODUCT--category__2column {
    float: left;
    width: 570px;
}

.ALLPRODUCT--category__list {
    float: left;
}

.product {
    display: inline-block;
    width: 285px;
    margin-bottom: 20px;
}

.product--name {
    display: inline-block;
    margin: 29px 0 29px 9px;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.product--img {
    float: left;
}

.product--name__sub {
    font-weight: 400;
    color: #757575;
}

.product--name:hover {
    color: #00b0ff;
}


.ALLPRODUCT::after {
    content: "";
    display: block;
    clear: both;
}

/* 섹션1 끝 */

/* 섹선2 시작 */
.magazine {
    max-width: 100%;
}

.magazine--left {
    float: left;
    width: 31.25%;
    background-image: url(imgs/magazine%20img1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 936px;
    display: block;
}

.magazine--left__title {
    padding: 54px 0 0 54px;
    font-size: 48px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 46px;
}

.magazine--left__capy {
    padding-left: 54px;
    font-size: 14px;
    font-weight: bold;
}

.magazine--right {
    width: 68.75%;
    float: right;
    height: 936px;
}

..magazine--right::after {
    content: "";
    display: block;
    clear: both;
}

.magazine--top {
    float: left;
    width: 50%;
    background-image: url(imgs/magazine%20img2.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 446px;
    display: block;
}

.magazine--top2 {
    float: left;
    width: 50%;
    background-image: url(imgs/magazine%20img3.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 446px;
    display: block;
}

.magazin--top__title {
    font-size: 48px;
    line-height: 1.75;
    font-weight: bold;
}
.magazine--top__title2 {
    padding: 122px 0 0 70px;
    font-size: 48px;
    line-height: 1.75;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

.magazine--top__capy {
    padding-left: 70px;
    font-size: 14px;
    font-weight: bold;
}

.magazine--top__capy2 {
    color: #fff;
    padding-left: 70px;
    font-size: 14px;
    font-weight: bold;
}

.magazine--top__title {
    padding: 122px 0 0 70px;
    font-size: 48px;
    line-height: 1.75;
    font-weight: bold;
    margin-bottom: 40px;
}

.magazine--bottom {
    float: left;
    background-image: url(imgs/magazine%20img4.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 490px;
    display: block;
}

.magazine--bottom__title {
    
    padding: 126px 0 0 182px;
    font-size: 48px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 40px;
}

.magazine--bottom__capy {
    padding-left: 182px;
    font-size: 14px;
    font-weight: bold;
}

.magazine--title_thin {
    font-weight: 100;
}

.magazine::after {
    content: "";
    display: block;
    clear: both;
}
/* 섹선2 끝 */

/* 섹선3 시작 */
.BALMUDA--STORIES {
    max-width: 1200px;
    margin: 96px auto 0;
    background-image: url(imgs/stories.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 518px;
}

.stories--wrapper {
    text-align: left;
    width: 41.666667%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

.stories__img {
    width: 100%;
}

.stories--title__sub {
    font-size: 21px;
    font-weight: 200;
    color: #535353;
    margin-bottom: 24px;
}

.stories--title {
    font-size: 48px;
    font-weight: 300;
    line-height: 1.25;
    color: #000;
    margin-bottom: 28px;
}

.stories--title__bold {
    font-weight: bold;
}

.stories--main__copy {
    font-size: 16px;
    line-height: 1.75;
    color: #757575;
    word-break: keep-all;
    margin-bottom: 40px;
}

.stories--sub__copy {
    font-size: 14px;
    font-weight: bold;
    color: #262626;
}

.BALMUDA--STORIES::after {
    content: "";
    display: block;
    clear: both;
}
/* 섹선3 끝 */

/* 섹선4 시작 */
.DESIGN--OF--BALMUDA {
    max-width: 1200px;
    margin: 120px auto;
    background-image: url(imgs/design%20of%20balmuda.png);
    background-position: top left;
    background-repeat: no-repeat;
    height: 360px;
}

.design--wrapper {
    float: right;
    width: 75%;
}

.design--main__copy {
    width: 492px;
    float: right;
}

.design--title__wrapper {
    float: left;
    margin-left: 38px;
    width: 31.777778%;
    padding: 0 15px;
    box-sizing: border-box;
}

.design--main__copy {
    word-break: keep-all;
    margin-left: 54px;
    width: 54.666667%;
}

.design--title__sub {
    font-size: 21px;
    font-weight: 200;
    color: #535353;
    margin-bottom: 24px;
}

.design--title__main {
    font-size: 48px;
    font-weight: 300;
    line-height: 1.25;
    color: #000;
    word-break: keep-all;
}

.design--title__bold {
    font-weight: bold;
}

.design--main__copy {
    font-size: 16px;
    line-height: 1.75;
    color: #757575;
}
.DESIGN--OF--BALMUDA::after {
    content: "";
    display: block;
    clear: both;
}
/* 섹선4 끝 */

/* 서브 배너 시작 */
.sub--banner__wrap {
    background-color: #000;
}

.sub__visual {
    margin-bottom: 102px;
    background-image: url(imgs/my%20story%20b.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 794px;
    width: 100%;
    display: block;
}

.sub__title {
    text-align: center;
    color: #fff;
    padding-top: 282px;
}

.banner--title__sub2 {
    font-size: 24px;
    font-weight: 600;
}

.banner--title__sub {
    font-size: 110px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner--title__sub3 {
    font-size: 48px;
    font-family: 'Courgette', cursive;
}
/* 서브 배너 끝 */

/* 섹션5 시작 */
.review {
    text-align: center;
    margin-bottom: 108px;
}

.review--title__sub {
    margin-bottom: 16px;
    font-size: 21px;
    font-weight: 200;
    color: #535353;
}

.review--title {
    margin-bottom: 60px;
    font-size: 48px;
    color: #000;
}

.review--title_thin {
    font-weight: 200;
}

.review--wrap {
    width: 100%;
}

.review--wrap__thum {
    height: 640px;
    width: 33.3333333%;
    float: left;
}

.review__thum {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
}

.review__content {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    display: table-cell;
    opacity: 0;
    transition: 0.3s;
}

.review--title__thum {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

.review--text__thum {
    font-size: 18px;
    font-weight: 100;
}

.review--wrap__thum:hover .review__content{
    opacity: 1;
}

.review::after{
    content: "";
    display: block;
    clear: both;
}



/*====== 섹션 6 ======*/

.support {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 108px;
}

.support--title {
    float: left;
    width: 33.333333%;
    padding: 0 15px;
    box-sizing: border-box;
}

.support--title__main {
    font-size: 48px;
    font-weight: 200;
    line-height: 1.15;
    color: #000;
}

.title__bold {
    font-weight: bold;
}

.support--title__sub {
    font-size: 21px;
    font-weight: 200;
    color: #535353;
    margin-bottom: 16px;
}

.support--list {
    float: right;
    width: 66.666666%;
}

.support--list__content {
    display: block;
    float: left;
    padding: 0 15px;
    width: 50%;
    box-sizing: border-box;
}

.support--list__img {
    width: 100%;
    vertical-align: bottom;
}

.support--content__title {
    font-size: 21px;
    font-weight: 200;
    color: #000;
    margin: 28px 0 20px 0;
}

.support--content__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.75;
    color: #757575;
    word-break: keep-all;
}

.support::after {
    content: "";
    display: block;
    clear: both;
}

/* aside */

.newsletter {
    width: 100%;
    height: 230px;
    background-color: #191919;
}

.newsletter--title {
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 32px;
}

.newsletter__wrap {
    width: 521px;
    margin: 0 auto;
    padding: 50px 0;
}

.email__input {
    width: 360px;
    height: 56px;
    text-align: left;
    background-color: #fff;
    padding: 0 32px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    color: #bdbdbd;
    font-family: inherit;
    float: left;
}

.email__submit {
    width: 154px;
    height: 56px;
    background-color: #dadada;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-family: inherit;
    float: left;
    margin-left: 6px;
}

/* 푸터영역 */

footer {
    width: 100%;
    height: 220px;
    background-color: #000;
}

.footer__wrap {
    width: 1170px;
    margin: 0 auto;
}

.footer--top {
    width: 100%;
    height: 62px;
    margin-bottom: 24px;
    border-bottom: 0.5px solid #757575;
}

.footer__list a {
    color: #E0E0E0;
    vertical-align: bottom;
}

.footer--top__left {
    float: left;
}

.footer--top__right {
    float: right;
}

.footer__list {
    float: left;
    padding: 22px 28px 22px 0;
}

.footer--sns {
    float: left;
    padding: 6px 0;
    vertical-align: bottom;
}

.footer--top::after {
    content: "";
    display: block;
    clear: both;
}

.footer--bottom {
    width: 100%;
    height: 65px;
}

.footer__text {
    font-size: 11px;
    font-weight: 100;
    line-height: 2.185;
    color: #e0e0e0;
    float: left;
}

.footer__tel {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    float: right;
}

.footer--bottom::after {
    content: "";
    display: block;
    clear: both;
}

/* 제품목록 페이지 */

/* 제품 목록 */

.product__col {
    width: 100%;
    margin-top: 80px;
}

.product__wrap {
    display: block;
    border: 1px solid #eeeeee;
    position: relative;
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.optionicon__wrap {
    position: absolute;
    top: 22px;
    left: 32px;
}

.optionicon__wrap img {
    vertical-align: bottom;
    float: left;
    margin-right: 2px;
}

.product--title {
    margin: 42px 0 0 32px;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.22;
    color: #000;
    height: 88px;
}

.product__img {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    max-height: 540px;
}

.sale__wrap {
    position: absolute;
    bottom: 82px;
    left: 32px;
}

.sale__wrap p {
    float: left;
}

.sale__price {
    font-size: 24px;
    font-weight: 500;
    color: #bdbdbd;
    margin-right: 12px;
    text-decoration: line-through;
}

.sale__smalltext {
    font-size: 12px;
}

.sale__percent {
    font-size: 24px;
    font-weight: 600;
    color: #ff3d00;
}

.sale__wrap::after {
    content: "";
    display: block;
    clear: both;
}

.price__wrap {
    margin: 28px 0 38px 32px;
    clear: both;
}

.price__wrap::after {
    content: "";
    display: block;
    clear: both;
}

.product__price {
    float: left;
    font-size: 36px;
    font-weight: 600;
    color: #424242;
}

.price__smalltext {
    font-size: 18px;
}

.coloricon__wrap {
    position: absolute;
    right: 32px;
    bottom: 52px;
}

.coloricon {
    padding: 0 4px;
    float: right;
}

.product__col::after {
    content: "";
    display: block;
    clear: both;
}

/* LOAD MORE 영역 */

.more--wrap {
    width: 100%;
    height: 100px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
}

.more {
    margin: 38px auto;
    height: 26px;
    width: 166px;
}

.more--button__title {
    background-color: #fff;
    font-family: inherit;
    font-size: 21px;
    color: #757575;
    float: left;
}

.more--button__arrow {
    float: right;
    vertical-align: bottom;
    margin-left: 4px;
}